body {
    font-family: lato, sans-serif;
    color: #272727;
    font-weight: 300;
    font-family: lato !important;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.inline {
    display: inline;
}

.iconify { 
    width: 60px;
    height: 60px;
}

.container {
    width: 1000px;
    margin: auto;
}

/*Barra de navegación*/

#logo {
    color: white;
    padding-top: 0px;
    padding-left: 120px;
    /* border: 1px solid red; */
}

#nav-negra {
    background: #272727;
    height: 90px !important;
    position: fixed;
    width: 100%;
}

.navbar ul {
    /* border: 1px solid red; */
    text-align: center;
    padding-top: 20px;
    padding-right: 80px !important;
    list-style-type: none;
}

header nav ul li { 
    float: right;
    margin: 0 10px !important;
    /* border: 1px solid red; */
}

header nav ul li a {
    text-transform: uppercase;
    list-style-type: none;
    color: white;
    font-size: 14px;
    float: right;
    letter-spacing: 3px;
    font-weight: 400;
    text-decoration: none;
    display: inline;
}

.navbar ul li {
    display: inline;
    font-family: lato !important;
    letter-spacing: 3px;
     /* border: 1px solid red; */
}

.navbar ul li a {
    float: right!important;
    margin: 0 20px!important;
    list-style: none !important;
    text-decoration: none !important;
    padding-right: 30px;
    /* border: 1px solid red; */
}

.navbar ul li a:hover {
    color:#d85353;
}

#nav-negra nav ul li a:hover {
    color: #d85353;
}


/* Inicio Contactos*/

#contactos-wrapper {
    width: 50%;
    padding: 81px 0 0;
    text-align: center;
    justify-content: center;
    margin: auto;
    /* border: 1px solid red; */
}

#contactos-wrapper  h2 {
    font-size: 90px;
    font-weight: 600;
    margin-top: 150px;
    width: 100%;
    /* border: 1px solid red; */
}


/* Inicio Formulario*/

#form {
    width: 550px;
    height: 830px;
    background-color: #272727;
    border-radius: 5px;
    margin: auto;
    margin-top: 90px;
    /* border: 1px solid red; */
}

#form {
    color: white;
}

.campos {
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    /* position: relative; */
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
    /* border: 1px solid red; */
}

.campos-otros {
    justify-content: center;
    width:max-content;
    font-size: 18px;
    font-weight: 300;
    width: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    /* border: 1px solid red; */
}


#input {
    width: 450px;
    height: 25px;
    background-color: #272727;
    border: 1px solid white;
    border-radius: 3px;
     /* border: 1px solid red; */
}

.genero div {
     /* border: 1px solid red; */
     margin-left: 40px;
     padding: 5px;
     font-weight: 300;
}

input[type="radio"] {
    margin: 0 10px 0 10px;
    color: #272727;
  }

  #input-motivacion {
    width: 450px;
    height: 80px;
    background-color: #272727;
    border: 1px solid white;
    border-radius: 3px;
     /* border: 1px solid red; */
  }

  input {
    color: white;
    font-weight: 300;
}

textarea {
    color: white;
    font-weight: 300;
}

#motivacion {
    width: 450px;
    height: 25px;
    background-color: #272727;
    border: 1px solid white;
    border-radius: 3px;
     /* border: 1px solid red; */
}

#btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* border: 1px solid red; */
    
}

.mybtn {
    padding-left: 40px !important;
    padding-right: 40px !important;
    font-family: lato !important;
    letter-spacing: 2px !important;
    font-weight: 300px !important;
    justify-content: center;
    align-items: center;
    display: flex;
    /* border: 1px solid red; */
} 

.mybtn:hover {
    background-color: white;
    color: #272727;
}

#disclaimer {
    align-items: center;
    width: 550px;
    justify-content: center;
    margin: auto;
    font-style: italic;
    font-weight: 400;
    padding-top: 5px;
    color: #272727;
    /* border: 1px solid red; */
}

#video {
    width: 50%;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
     /* border: 1px solid red; */

}

/* footer */

.footer-wrapper {
    background: #272727;
    height: 400px;
    margin-top: 100px;
    /* border: 1px solid red; */
 }
 
 #frase-cierre {
     color: white;
     text-align: center;
     line-height: 5px;
     font-family: lato;
     padding-top: 60px;
     font-weight: 600;
     letter-spacing: 1px;
     /* border: 1px solid red; */
 }
 
 #frase-cierre span {
     font-weight: 300;
     /* border: 1px solid red; */
 }
 
 footer a {
     color: white;
     text-align: center;
     text-decoration: none;
 }

 footer a:hover {
    color: #d85353;
}
 
 .footer-nav {
 
     text-align: center;
     list-style: none;
     text-decoration: none;
     margin-top: 60px;
     
     /* border: 1px solid red; */
 }
 
 .footer-nav li {
     text-transform: uppercase;
     font-size: 12px;
     letter-spacing: 3px;
     list-style: none;
     font-weight: 400;
     text-decoration: none;
     padding: 12px;
 }
 
 #redes {
     text-align: center;
     padding-top: 30px;
     padding-left: 5px;
     letter-spacing: 8px;
     margin: auto;
     position: relative;
     text-decoration: none !important;
     width: 100px;
     list-style: none;
     /* border: 1px solid red; */
 }
 
 