body {
    font-family: lato, sans-serif;
    color: #272727;
    font-weight: 300;
    font-family: lato !important;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.iconify { 
    width: 60px;
    height: 60px;
}

.container {
    width: 1000px;
    margin: auto;
}

/*Barra de navegación*/

#logo {
    color: white;
    padding-top: 0px;
    padding-left: 120px;
    /* border: 1px solid red; */
}

#nav-negra {
    background: #272727;
    height: 90px !important;
    position: fixed;
    width: 100%;
}

.navbar ul {
    /* border: 1px solid red; */
    text-align: center;
    padding-top: 20px;
    padding-right: 80px !important;
    list-style-type: none;
}

header nav ul li { 
    float: right;
    margin: 0 10px !important;
    /* border: 1px solid red; */
}

header nav ul li a {
    text-transform: uppercase;
    list-style-type: none;
    color: white;
    font-size: 14px;
    float: right;
    letter-spacing: 3px;
    font-weight: 400;
    text-decoration: none;
    display: inline;
}

.navbar ul li {
    display: inline;
    font-family: lato !important;
    letter-spacing: 3px;
     /* border: 1px solid red; */
}

.navbar ul li a {
    float: right!important;
    margin: 0 20px!important;
    list-style: none !important;
    text-decoration: none !important;
    padding-right: 30px;
    /* border: 1px solid red; */
}

.navbar ul li a:hover {
    color:#d85353;
}

#nav-negra nav ul li a:hover {
    color: #d85353;
}


/* Inicio Historia del piano */

#partes-wrapper {
    width: 50%;
    padding: 81px 0 0;
    text-align: center;
    justify-content: center;
    margin: auto;
    /* border: 1px solid red; */
}

#partes-wrapper img {
    margin-bottom: 0px;
    width: 100%;
    /* border: 1px solid red; */

}

#partes-wrapper h2 {
    font-size: 90px;
    font-weight: 600;
    margin-top: 150px;
    width: 100%;
    /* border: 1px solid red; */
}

#partes-wrapper h3 {

    margin: auto;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 20px;
    font-weight: normal;
    /* justify-content: center; */
    text-align: center;
    display:block;
    /* border: 1px solid red; */
     
}

#partes-intro {
    background-color:transparent !important;
}

#partes-wrapper  p {
    font-weight: 400;
    width: 100%;
    text-align:justify;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 80px;
    color: #272727;
    background-color: #f1f1f1;
    line-height: normal;
    padding: 20px;
    padding-top: 60px;
    justify-content: center;
    /* border: 1px solid red; */
   
}

.partes-container {
    justify-content: center;
    justify-content: center;
    padding: 0px;
     /* border: 1px solid red; */
}

.partes-cards {
    width: 300px;
    height: 393px;
    justify-content: center;
    border-radius: 5px;
    /* margin: auto; */
    margin-bottom: 50px;
    margin-top: 70px;
    text-align: center;
    line-height: 25px;
    color: #272727;
    font-size: 21px;
    font-family: lato;
    display:contents
}

.partes-cards  img {
    width: 663px;
    margin: auto;
    margin-top: 50px;
    padding-left: 0px;
    justify-content: center;
    text-align: center;
    /* border: 1px solid red; */
}

.partes-cards ul {
    list-style: none;
     margin: auto;
     justify-content: center;
     text-align: center;
     margin-left: 0px;
     padding-left: 0px;
     /* border: 1px solid red; */
}

#partes-wrapper .partes-container .partes-cards .unstyled-list .partes-container2 #partes-texto {
    font-weight: 400;
    width: 100%;
    text-align:justify;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 80px;
    color: #272727;
    background-color: #f1f1f1;
    line-height: normal;
    padding: 20px;
    justify-content: center;
    /* border: 1px solid red; */
}

/* footer */

.footer-wrapper {
    background: #272727;
    height: 400px;
    margin-top: 100px;
    /* border: 1px solid red; */
 }
 
 #frase-cierre {
     color: white;
     text-align: center;
     line-height: 5px;
     font-family: lato;
     padding-top: 60px;
     font-weight: 600;
     letter-spacing: 1px;
     /* border: 1px solid red; */
 }
 
 #frase-cierre span {
     font-weight: 300;
     /* border: 1px solid red; */
 }
 
 footer a {
     color: white;
     text-align: center;
     text-decoration: none;
 }

 footer a:hover {
    color: #d85353;
}
 
 .footer-nav {
 
     text-align: center;
     list-style: none;
     text-decoration: none;
     margin-top: 60px;
     
     /* border: 1px solid red; */
 }
 
 .footer-nav li {
     text-transform: uppercase;
     font-size: 12px;
     letter-spacing: 3px;
     list-style: none;
     font-weight: 400;
     text-decoration: none;
     padding: 12px;
 }
 
 #redes {
     text-align: center;
     padding-top: 30px;
     padding-left: 5px;
     letter-spacing: 8px;
     margin: auto;
     position: relative;
     text-decoration: none !important;
     width: 100px;
     list-style: none;
     /* border: 1px solid red; */
 }