body {
    font-family: lato, sans-serif;
    color: #272727;
    font-weight: 300;
}

h3 {
    font-size: 25px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.iconify { 
    width: 50px;
    height: 50px;
}

.container {
    width: 1000px;
    margin: auto;
}

/*Barra de navegación*/

#logo {
    padding-top: 15px;
    color: white;
}

#nav-negra {
    background: #272727;
    height: 86px;
    position: fixed;
    width: 100%;
}

header nav ul {
    /* border: 1px solid red; */
    text-align: center;
    padding-top: 35px;
    list-style-type: none;
}

header nav ul li { 
    float: right;
    margin: 0 20px;
}

header nav ul li a {
    text-transform: uppercase;
    list-style-type: none;
    color: white;
    font-size: 14px;
    float: right;
    letter-spacing: 3px;
    font-weight: 400;
    text-decoration: none;
    display: inline;
}

#nav-negra nav ul li a:hover {
    color: #d85353;
}

/* Inicio Historia del piano */

#tipos-wrapper {
    width: 50%;
    padding: 81px 0 0;
    text-align: center;
    justify-content: center;
    margin: auto;
    /* border: 1px solid red; */
}

#tipos-wrapper .mundo {
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 10px;
}

#tipos-wrapper h2 {
    font-size: 90px;
    font-weight: 600;
    margin-top: 150px;
    /* border: 1px solid red; */
}

#tipos-wrapper p {
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    padding-bottom: 70px;
    justify-content: center;
    margin: auto;
    /* border: 1px solid red; */
}

#tipos-wrapper img {
    width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#tipos-wrapper hr {
    border-width: 1px;
    display: block;
    margin: auto;
    margin-bottom: 10%;
    color: #272727;
}

#tipos-wrapper2 {
    height: 1000px;
    background-color: #272727;
     /* border: 1px solid red; */
}

#tipos-wrapper2 h3 {
    color: white;
    margin-bottom: 50px;
    margin-top: 20px;
    /* border: 1px solid red; */
}

#tipos-wrapper2 p {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: auto;
    margin-top: 30px;
    width: 50%;
    text-align: justify;
}

#tipos-wrapper2 ul {
    /* border: 1px solid red; */
    width: 50%;
    text-align:left;
    justify-content: center;
    margin: auto;
    font-weight: 400;
    margin-top: 20px;
    font-size:18px;

}

#tipos-wrapper2 ul li {
    color: white;
    display: list-item;
    list-style-type: "🎹";
    padding-inline-start: 1ch;
    margin: 0 0 10px 0;
}

#piano-blanco {
    width: 50%;
    text-align: center;
    justify-content: center;
    padding-top: 80px;
    margin: auto;
    /* border: 1px solid red; */
}

#tipos-wrapper3 {
    width: 50%;
    padding: 81px 0 0;
    text-align: center;
    justify-content: center;
    margin: auto;
    /* border: 1px solid red; */
}

#tipos-wrapper3 img {
    width: 600px;
}

#tipos-wrapper3 p {
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}

/* footer */

.footer-wrapper {
    background: #272727;
    height: 400px;
    /* border: 1px solid red; */
 }
 
 #frase-cierre {
     color: white;
     text-align: center;
     line-height: 5px;
     padding-top: 60px;
     font-weight: 600;
     letter-spacing: 1px;
     /* border: 1px solid red; */
 }
 
 #frase-cierre span {
     font-weight: 300;
     /* border: 1px solid red; */
 }

 footer {
     margin-top: 100px;
 }
 
 footer a {
     color: white;
     text-align: center;
     list-style: none;
     text-decoration: none;
 }
 
 .footer-nav {
 
     text-align: center;
     margin-top: 60px;
     list-style: none;
     /* border: 1px solid red; */
 }
 
 .footer-nav li {
     text-transform: uppercase;
     font-size: 12px;
     letter-spacing: 3px;
     font-weight: 400;
     text-decoration: none;
     padding: 12px;
 }
 
 #redes {
     text-align: center;
     font-size: 20px;
     padding-top: 30px;
     letter-spacing: 8px;
     position: relative;
     /* border: 1px solid red; */
 }